section.footer 
        .footer__top
            .footer__links.container 
                .footer__item
                    h3.footer__title Company Info 
                    each item in footerCompanies 
                        ul 
                            li 
                                a(href= item.url)=item.label
                .footer__item
                    h3.footer__title Legal 
                    each item in footerLegal 
                        ul 
                            li 
                                a(href= item.url)=item.label
                .footer__item
                    h3.footer__title Features 
                    each item in footerFeatures 
                        ul 
                            li 
                                a(href= item.url)=item.label
                .footer__item
                    h3.footer__title Resources 
                    each item in footerResources 
                        ul 
                            li 
                                a(href= item.url)=item.label
                .footer__item
                    h3.footer__title Get In Touch 
                    each item in footerContacts
                        ul 
                            li 
                                .footer__contact 
                                    img(src= item.img, alt="").footer__icon 
                                    p= item.label
        .footer__bottom.container 
            p Made With Love By Figmaland All Right Reserved 
            .footer__socials 
                each item in footerSocials
                    .footer__social 
                        a(href= item.url)
                            img(src= item.img, alt= item.alt) 